html {
    overflow-y: scroll
}

{{ with .Site.Params.colors.light }}
:root {
    --bgcolor: {{ .bg | default "white" }};
    --fontcolor: {{ .bg | default "#444" }};
    --linkcolor: {{ .link | default "#00e" }};
    --visitedcolor: {{ .visited | default "#551a8b" }};
    --precolor: {{ .pre | default "#fff" }};
    --prebgcolor: {{ .prebg | default "#000" }};
}
{{ end }}

{{ with .Site.Params.colors.dark }}
@media (prefers-color-scheme: dark) {
    :root {
            --bgcolor: {{ .bg | default "black" }};
        --fontcolor: {{ .bg | default "white" }};
        --linkcolor: {{ .link | default "#5bf" }};
        --visitedcolor: {{ .visited | default "#ae5ee0" }};
        --precolor: {{ .pre | default "#fff" }};
        --prebgcolor: {{ .prebg | default "#383838" }};
    }
}
{{ end }}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 14px/1.5 monospace;
    color: var(--fontcolor);
    background: var(--bgcolor)
}

a:link {
    color: var(--linkcolor)
}

a:visited {
    color: var(--visitedcolor)
}

a:active {
    color: var(--visitedcolor)
}

h1,
h2,
h3 {
    line-height: 1.2
}

p>code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px
}

code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px
}

pre {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 24px;
    overflow-x: auto
}

article {
    padding: 24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto
}